# App
CORS='["*"]'
VERSION='0.0.1'
APP_ENV='dev'
TRACING_ENV_FILE='app/config/tracing_env.json'

# Authentication
SECRET_KEY='{SECRET_KEY}'
TOKEN_EXPIRE_HOURS=87600
ALGORITHM='HS256'
ACCOUNT_FILE='app/config/user.json'



# Chat model (Openai, Gemini, ...)
# CHAT_MODEL_KEY='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'
CHAT_MODEL_KEY='{CHAT_MODEL_KEY}'
CHAT_MODEL='gpt-4.1-mini'
CHAT_MODEL_TEMPERATURE=0

#Chat model vision (Openai)
CHAT_MODEL_VISION_TEMP='{CHAT_MODEL_VISION_TEMP}'
CHAT_MODEL_VISION_KEY='{CHAT_MODEL_VISION_KEY}'
CHAT_MODEL_VISION='gpt-4.1-mini'
CHAT_MODEL_TEMPERATURE_VISION=0

# Chat history context length
HISTORY_CONTEXT_LEN=5

# Ratelimit
RATELIMIT_REDIS='redis://localhost:6379/0'
REDIS_MAX_CONNECTION_POOL=100
# For ratelimit user in minutes
RATELIMIT_WINDOW_MINUTES=1440


# Checkpointer
CHECKPOINT_HOST='localhost'
CHECKPOINT_PORT=5434
CHECKPOINT_USER='edu'
CHECKPOINT_PASSWORD='VMHC2h2ls8W0JVL'
CHECKPOINT_DB='checkpointer'

# Embedding 
EMBEDDING_KEY='{EMBEDDING_KEY}'
EMBEDDING_MODEL='voyage-3'
EMBEDDING_DIMS=1024
DOCUMENTS_TOPK=6

# app database
APP_DB_HOST='localhost'
APP_DB_PORT=5435
APP_DB='mentorbot'
APP_USER='edu'
APP_PASSWORD='5N4CW0cyequy_Uf3SsJFQw'

# For tracing
LANGFUSE_PUBLIC_KEY="pk-lf-9e06ef4f-bf5a-4779-8038-71043d9835eb"
LANGFUSE_SECRET_KEY="sk-lf-580a2736-1fda-40a9-afba-4db68055fada"
LANGFUSE_HOST="https://cloud.langfuse.com"

# For mindmap
MINDMAP_API_KEY='MIND_MAP_KEY'
GEMINI_API_KEY='GEMINI_AI_KEY'
MIND_MAP_MODEL="gemini-2.5-flash"